@font-face {
  font-family: "water-galon";
  src: url("./fonts/Water\ Galon.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "water-galon", Arial, Helvetica, sans-serif;
  background: url(./img/background.png) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  margin-top: 36px;
  font-size: 56px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.d-none {
  display: none;
}

.canvas {
  background-color: #000;
  border: 10px black solid;
  border-radius: 10px;
  display: block;
}

.canvas button {
  background-image: url("img/6.Botones/Full Screen/Mesa de trabajo 7.png");
  background-size: 100%;
  position: absolute;
  cursor: pointer;
  border: 0px;
  border-radius: 12px;
  top: 670px;
  left: 50%;
  width: 195px;
  height: 45px;
}

.canvas button:hover {
  background-image: url("img/6.Botones/Full Screen/Mesa de trabajo 8.png");
}

.startscreen,
.endscreen {
  position: absolute;
  top: 166px;
  width: 720px;
  height: 481px;
  background-color: #000;
}

.startscreen img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 480px;
}

.startscreen img:nth-child(2) {
  position: absolute;
  top: -15px;
  right: -20px;
  width: 400px;
  height: 240px;
}

.startscreen button {
  background-image: url("img/6.Botones/Start/2.png");
  background-size: 100%;
  position: absolute;
  cursor: pointer;
  border: 0px;
  border-radius: 20px;
  top: 350px;
  right: 100px;
  width: 240px;
  height: 78px;
}

.startscreen button:hover {
  background-image: url("img/6.Botones/Start/1.png");
}

#endscreen-lost img:first-child {
  position: absolute;
  top: 200px;
  left: 50px;
  width: 600px;
  height: 80px;
}

#endscreen-lost button,
#endscreen-win button {
  background-image: url("img/6.Botones/Try again/Recurso 17.png");
  background-size: 100%;
  position: absolute;
  cursor: pointer;
  border: 0px;
  border-radius: 15px;
  top: 350px;
  left: 250px;
  width: 240px;
  height: 57px;
}

#endscreen-win button {
  right: 220px;
}

#endscreen-lost button:hover,
#endscreen-win button:hover {
  background-image: url("img/6.Botones/Try again/Recurso 16.png");
}

#endscreen-win img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 481px;
}

/*--------- Smartphone ---------*/

@media only screen and (max-width: 740px) {
  #canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  #canvas {
    height: 100vh;
  }
  h1,
  .canvas button {
    display: none;
  }
}
